@-ms-viewport{
  width: device-width;
}

html,
body,
.container {
    height: 100%;
}

.EOI {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  display:flex;
  flex-direction: row;  
}

.row.center {
    padding-top: 20px;
}

.admin .row,.eventManager .row{
	padding-bottom: 10px;
  	padding-top: 10px;
}

.row h3{
	margin: 0px;
}

.center{
	justify-content: center;
}

.right{
	justify-content: right;
}
  
.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 11px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.childpersonaldtl{
	border-right: 1px solid #e5e5e5;
}

.form-horizontal .control-label{
    text-align: left;
}

.data:hover{
	background-color: #337ab7 !important;
	color: white;
}

.data:hover a {
    color: white;
}

.horizontal.EventList, .horizontal.EventManagerList  {
    width: 60%;
}

#eventSetUpForm .has-error .control-label,
#eventSetUpForm .has-error .help-block,
#eventSetUpForm .has-error .form-control-feedback {
    color: #f39c12;
}

#eventSetUpForm .has-success .control-label,
#eventSetUpForm .has-success .help-block,
#eventSetUpForm .has-success .form-control-feedback {
    color: #18bc9c;
}    